/* Table */
#recentTable {
	margin-top: -30px;
}

#recentTable .ngx-datatable.patternfly .datatable-header-cell,
#recentTable .ngx-datatable.patternfly .datatable-body-row .datatable-body-cell {
	padding: 7px 10px 7px;
}

#recentTable .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell:nth-child(1),
#recentTable .ngx-datatable.patternfly .datatable-body-row .datatable-body-cell:nth-child(1) {
	width: 48% !important;
	border-right: none;
}

#recentTable .ngx-datatable.patternfly .datatable-body-row .datatable-body-cell:nth-child(1) span {
	color: #0088ce;
	cursor: pointer;
}

#recentTable .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell:nth-child(2),
#recentTable .ngx-datatable.patternfly .datatable-body-row .datatable-body-cell:nth-child(2),
#recentTable .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell:nth-child(3),
#recentTable .ngx-datatable.patternfly .datatable-body-row .datatable-body-cell:nth-child(3),
#recentTable .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell:nth-child(4),
#recentTable .ngx-datatable.patternfly .datatable-body-row .datatable-body-cell:nth-child(4) {
	width: 14% !important;
	border-right: none;
}

#recentTable .ngx-datatable.fixed-header .datatable-header .datatable-header-inner .datatable-header-cell:nth-child(5),
#recentTable .ngx-datatable.patternfly .datatable-body-row .datatable-body-cell:nth-child(5) {
	width: 10% !important;
}

#recentTable .ngx-datatable.patternfly .datatable-body-row .datatable-body-cell {
	padding-top: 10px;
}

#recentTable table-view-example {
  .toolbar-pf {
    border-bottom: none;
    box-shadow: none;
  }
}

#recentTable .table {
	padding-top: 5px;
}

#recentTable input[type=checkbox], input[type=radio] {
	margin: 7px 0 0 !important;
}

#recentTable .datatable-body-cell-label span {
	display: inline-block;
}

#recentTable .datatable-body-cell-label span {
	display: inline-block !important;
}

#recentTable .fa {
	color: #3f9c35;
	padding-left: 16px;
	font-size: 15px;
}

#recentTable .pf {
	color: #cc0000;
	padding-left: 16px;
	font-size: 15px;
	cursor: default;
}

#recentTable .padding-left-25 {
	padding-left: 18px;
}



