<div *ngIf="loadingCharts; else chartsLoaded" class="loading">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="spinner spinner-lg"></div>
				<span>Loading</span>
			</div>
		</div>
	</div>
</div>
<ng-template #chartsLoaded>
	<div class="page-header page-header-bleed-left">
		<h1 style="margin-bottom: 0px">Overview</h1>
		<span style="font-size: 10.5px">of&nbsp;</span><a style="font-size: 10.5px" href="{{project.path}}">{{project.path}}</a>
	</div> 
	<div class="padding-15 content">
		<div class="row">
			<div class="col-lg-3 col-lg-offset-3 text-center">
				<label class="chart-header">Endpoints Test Runs</label>
			</div>
			<div class="col-lg-3 text-center">
				<label class="chart-header">Test Case Runs</label>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-3 col-lg-offset-3 text-center">
				<pfng-chart-donut [chartData]="endpointsData" [config]="endpointsConfig"></pfng-chart-donut>
			</div>
			<div class="col-lg-3 text-center">
				<pfng-chart-donut [chartData]="testCasesData" [config]="testCasesConfig"></pfng-chart-donut>
			</div>
		</div>
		<div class="row padding-top-10">
			
		</div>	
	</div>
</ng-template>
<h2>Recent</h2>
<app-recent-table [projectId]="projectId"></app-recent-table>
<div *ngIf="loadingCharts; else fails"></div>
<ng-template #fails>
	<div *ngIf="endpointsData[2][1] > 0 || testCasesData[2][1] > 0">
		<h2>Failures</h2>
		<app-failures-table [projectId]="projectId"></app-failures-table>
	</div>
</ng-template>

	
