.layout-pf-fixed .navbar-pf-vertical {
	position: relative;
	background-color: #292e34;
	border-top: none;
	border-bottom: 1px solid #000;
}

div#verticalNavLayout .navbar-header {
	border-right: 1px solid #000;	
}

div#verticalNavLayout .navbar-pf-vertical .navbar-brand {
	color: #d1d1d1;
	padding: 2px 0px 0px 0px;
}

div#verticalNavLayout .navbar-pf-vertical .navbar-toggle {
	margin: 4px 15px;
}

div#verticalNavLayout .navbar {
	min-height: 40px;
}

/** Select box **/
div#verticalNavLayout .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
	width: 190px;
}

div#verticalNavLayout .btn-group>.btn:first-child {
	padding-left: 14px;
}	

div#verticalNavLayout .bs-caret {
	font-size: 13px;
}

div#verticalNavLayout .bootstrap-select.btn-group .dropdown-toggle .caret {
	margin-top: -4px;
}
	
div#verticalNavLayout .selectpicker {
	background-color: #292e34;
	color: #d1d1d1;
	border: none;
	box-shadow: unset;
	height: 40px;
	font-size: 18px;
	font-weight: lighter;
}

div#verticalNavLayout .selectpicker-default {
	color: #39a5dc;	
}

div#verticalNavLayout .selectpicker:hover {
	color: #d1d1d1;
	background-color: #000;
}

div#verticalNavLayout .bootstrap-select.btn-group .dropdown-menu li a span.text {
	padding-top: 6px;
}

div#verticalNavLayout .dropdown-menu.open {
	margin-left: 0px;	
	width: 81.5%;
}

div#verticalNavLayout .bootstrap-select.btn-group .dropdown-menu {
	z-index: 1042;
	border: none;
	background-color: #000;
}

div#verticalNavLayout .dropdown-menu {
	padding: 0px;
}

div#verticalNavLayout .bootstrap-select.btn-group .dropdown-menu li a {
	height: 40px;
	color: #d1d1d1;
}

div#verticalNavLayout .bootstrap-select.btn-group .dropdown-menu li a:hover {
	color: #d1d1d1;
	background-color: #393f44;
	border: 1px solid #000;
}

div#verticalNavLayout .bootstrap-select.btn-group .dropdown-menu>.selected>a {
	background-color: #393f44 !important;
	border: 0.5px solid #39a5dc !important;
	border-left: 2px solid #39a5dc !important;
	margin-right: 0.01px;
}

/** Vertical menu **/ 

.nav-pf-vertical { 
	top: 103px;
}

.nav-pf-vertical .list-group-item>a {
	font-size: 13px;
}

.nav-pf-vertical .list-group-item>a .fa, .nav-pf-vertical .list-group-item>a .glyphicon, .nav-pf-vertical .list-group-item>a .pficon {
	font-size: 18px;
	line-height: 24px;
}

.nav-pf-vertical.nav-pf-vertical-with-badges {
	width: 215px;
}

.nav-pf-vertical.collapsed {
	width: 75px;
}

/** Container **/
.layout-pf.layout-pf-fixed .container-pf-nav-pf-vertical.nav-pf-vertical-with-badges {
	margin-left: 215px;
}

.layout-pf.layout-pf-fixed .container-pf-nav-pf-vertical.nav-pf-vertical-with-badges.hidden-nav {
	margin-left: 0px;
}

.layout-pf.layout-pf-fixed .container-pf-nav-pf-vertical.collapsed-nav {
	margin-left: 75px;
}