<div id="verticalNavLayout" class="layout-pf layout-pf-fixed">
<!--       [brandAlt]="'my-project'" -->
	<pfng-vertical-navigation 
      [contentContainer]="contentContainer"
      [items]="navigationItems"
      [persistentSecondary]="false"
      [pinnableMenus]="true"
      [showBadges]="true"
      [showIcons]="true"
      [updateActiveItemsOnClick]="true"
      (onItemClickEvent)="onItemClicked($event)"
      (onNavigationEvent)="onNavigation($event)">
      
      <div class="nav navbar-nav">
<!-- 		<select class="selectpicker"> -->
<!-- 		  <option>Mustard</option> -->
<!-- 		  <option>Ketchup</option> -->
<!-- 		  <option>Relish</option> -->
<!-- 		  <option disabled>Onions</option> -->
<!-- 		</select> -->
<div class="btn-group bootstrap-select">
	<button type="button" class="btn dropdown-toggle btn-default" data-toggle="dropdown" role="button" title="Mustard" aria-expanded="false">
		<span class="filter-option pull-left">Mustard</span>&nbsp;
		<span class="bs-caret"><span class="caret"></span></span></button>
		<div class="dropdown-menu open" role="combobox" style="max-height: 701.148px; overflow: hidden; min-height: 78px;">
		<ul class="dropdown-menu inner" role="listbox" aria-expanded="false" style="max-height: 691.148px; overflow-y: auto; min-height: 68px;">
			<li data-original-index="0" class="selected">
				<a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="true">
					<span class="text">Mustard</span><span class="glyphicon glyphicon-ok check-mark"></span>
				</a>
			</li>
			<li data-original-index="1">
				<a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false">
					<span class="text">Ketchup</span>
					<span class="glyphicon glyphicon-ok check-mark"></span>
				</a>
			</li>
			<li data-original-index="2">
				<a tabindex="0" class="" data-tokens="null" role="option" aria-disabled="false" aria-selected="false">
					<span class="text">Relish</span>
					<span class="glyphicon glyphicon-ok check-mark"></span>
				</a>
			</li>
			<li data-original-index="3" class="disabled">
				<a tabindex="-1" class="" data-tokens="null" role="option" href="#" aria-disabled="true" aria-selected="false">
					<span class="text">Onions</span><span class="glyphicon glyphicon-ok check-mark"></span>
				</a>
			</li>
		</ul>
	</div>
	<select class="selectpicker" >
        <option>Mustard</option>
        <option>Ketchup</option>
        <option>Relish</option>
        <option disabled>Onions</option>
      </select></div>
      </div>
      
      <div class="nav navbar-nav navbar-right">
		<span style="color: yellow; display: inline-block">Add test case</span>      	
      </div>
	</pfng-vertical-navigation>
	<!-- TODO v containeru bude obsah jednotlivych stranek -->
	<div #contentContainer
        class="container-fluid container-cards-pf container-pf-nav-pf-vertical example-page-container nav-pf-vertical-with-badges"
        style="background-color: white;">
	<div class="row"> 
      <div class="col-sm-12">
        <h4 class="actions-label">Actions</h4>
        <hr/>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <textarea rows="3" class="col-sm-12">gg</textarea>
        <router-outlet></router-outlet>
      </div>
    </div>
	</div>
</div>