<div *ngIf="!loading;">
	<div class="page-header page-header-bleed-left">
		<div>
			<h1 class="disable-margin-bottom">{{testCaseSettings.parent.name}}</h1>
		</div>
		<h5 class="margin-top-5"><strong>{{testCaseSettings.endpoint.method}}</strong>&nbsp;&nbsp;{{testCaseSettings.endpoint.path}}</h5>
	</div>
	<div class="row margin-top-15">
		<div class="col-sm-12">
			<div class="padding-bottom-25">
				<div class="info-header">Parameters</div>
				<div *ngFor="let parameter of testCaseSettings.parameters">
					<div *ngIf="parameter.type === 'path'"class="flex-info padding-top-10">
						<div class="flex-info-left request-params bold">
							<app-edit-param (paramEditEvent)="refreshOnParamEdit($event)" [parameter]="parameter"></app-edit-param>
							<div class="edit-parameter inline-block">
								<span class="pf pficon-edit clickable" (click)="createModal('#editParamModal', parameter.id)"></span>
							</div>
							<div class="inline-block">
								<span>{{parameter.name}}</span><br>
								<span class="font-size-sm">(path)</span>
							</div>
						</div>
						<div *ngIf="parameter.parameterValue === null" class="flex-info-right">{{parameter.parameter}}</div>
						<div *ngIf="parameter.parameterValue !== null"  class="flex-info-right">{{parameter.parameterValue}}</div>
					</div>
				</div>
				<div *ngFor="let parameter of testCaseSettings.parameters">
					<div *ngIf="parameter.type === 'query'" class="flex-info padding-top-10">
						<div class="flex-info-left request-params bold">
							<app-edit-param (paramEditEvent)="refreshOnParamEdit($event)" [parameter]="parameter"></app-edit-param>
							<div class="edit-parameter inline-block">
								<span class="pf pficon-edit clickable" (click)="createModal('#editParamModal', parameter.id)"></span>
							</div>
							<div class="inline-block">
								<span>{{parameter.name}}</span><br>
								<span class="font-size-sm">(query)</span>
							</div>
						</div>
						<div *ngIf="parameter.parameterValue === null" class="flex-info-right">{{parameter.parameter}}</div>
						<div *ngIf="parameter.parameterValue !== null"  class="flex-info-right">{{parameter.parameterValue}}</div>
					</div>
				</div>
				<div *ngFor="let parameter of testCaseSettings.parameters">
					<div *ngIf="parameter.type === 'body'" class="flex-info padding-top-10">
						<div class="flex-info-left request-params bold">
							<div class="edit-parameter-single inline-block">
								<span class="pf pficon-edit clickable" (click)="makeBody()"></span>
							</div>
							<div class="inline-block"><span>{{parameter.name}}</span><br></div>
						</div>
						<div *ngIf="!bodyEditable" class="flex-info-right">
							<div *ngIf="parameter.model !== null" class="response-model body-model">
								<span>{{parameter.model.name}}</span>
								<span> {{'{'}}</span>
								<div *ngFor="let attribute of parameter.model.attributes">
									<span>&nbsp;&nbsp;&nbsp;&nbsp;{{attribute.name}}: {{attribute.type}}</span>	
								</div>
								<span>{{'}'}}</span>
							</div>
							<div *ngIf="parameter.parameter !== null">{{parameter.parameterValue}}</div>
						</div>
						<div *ngIf="bodyEditable" class="flex-info-right">
							<div>
								<textarea id="area-content" rows="{{parameter.model.attributes.length + 2}}" style="width: 94%; resize: none; ">{{bodyString}}</textarea>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>