#tc-detail .disable-margin-bottom {
	margin-bottom: 0px;
}

#tc-detail .loading {
	margin-top: 20.5%;
	text-align: center;
	font-size: 15px;
}

#tc-detail .contains-actions {
	display: inline-block;
}

#tc-detail .run-button {
	position: absolute;
	right: 20px;
	top: 19px;
	width: 50px;
}

#tc-detail .nav-tabs {
	margin-left: -5px;
	padding-top: 35px;
}

#tc-detail .nav-tabs {
	border-bottom: 1px solid #e4e4e4;
}

#tc-detail .nav-tabs>li>a {
	border: none;
}

#tc-detail .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #0088ce; 
}

#tc-detail .nav-tabs>li>a:hover {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #0088ce; 
	color: #0088ce;	
	cursor: pointer;
}

#tc-detail .toast-notifications-list-pf {
	margin-top: 28px;
	margin-right: 75px;
}
