.disable-margin-bottom {
	margin-bottom: 0px;
}

.loading {
	margin-top: 20.5%;
	text-align: center;
	font-size: 15px;
}

.contains-actions {
	display: inline-block;
}

.run-button {
	position: absolute;
	right: 20px;
	top: 19px;
	width: 50px;
}

.nav-tabs {
	margin-left: -5px;
	padding-top: 35px;
}

.nav-tabs {
	border-bottom: 1px solid #e4e4e4;
}

.nav-tabs>li>a {
	border: none;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #0088ce; 
}

.nav-tabs>li>a:hover {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #0088ce; 
	color: #0088ce;	
	cursor: pointer;
}

.toast-notifications-list-pf {
	margin-top: 34px;
	margin-right: 75px;
}
