<div *ngIf="loading; else pageLoaded" class="loading">
	<div class="spinner spinner-lg"></div>
	<span>Loading</span>
</div>
<ng-template #pageLoaded>
	<app-add-header (headerCreateEvent)="refreshOnCreate($event)"></app-add-header>
	<div id="headers-table" class="padding-top-20">
		<div class="row">
			<div class="col-sm-12">
				<pfng-toolbar [config]="toolbarConfig"
					[actionTemplate]="actionTemplate"
		            (onFilterChange)="filterChanged($event)"
		            (onSortChange)="handleSortChanged($event)">
		      	</pfng-toolbar>
		      	<ng-template #actionTemplate>
		            <div class="pull-right">
						<button class="btn btn-default hidden-xs" (click)="createHeaderModal($event)">Add Header</button>	
						<button class="btn btn-default hidden-xs" (click)="deleteHeaders()">Remove Header</button>
					</div>
				</ng-template>
			</div>
		</div>
	  	<div class="row">
	  		<div class="col-sm-12">
	  			<div class="margin-top-10">
	  				<pfng-table [columns]="columns" [rows]="rows" [config]="tableConfig"
	            		(onPageNumberChange)="handlePageNumber($event)"
	            		(onPageSizeChange)="handlePageSize($event)"
	            		(onSelectionChange)="handleSelectionChange($event)">
	            	</pfng-table>
	  			</div>
	  		</div>
	  	</div>
	</div>
</ng-template>