/* Popup settings */
.popup {
	width: 370px;	
	color: #363636;
	font-size: 14px;
}

.popper-settings {
	z-index: 2;
	left: -140px !important;
}

.popper-arrow-settings {
	left: 325px !important;
}

.popup-header {
	height: 35px;
	width: auto;
	margin: -10px -10px 0px -10px;
	padding-top: 5px;
	padding-left: 20px;
	border-radius: 5px 5px 0px 0px;
	text-align: left;
	background-color: #ededed;
}

.pficon-close {
	margin-left: 250px;
	cursor: pointer;
}

.popup-body {
	background-color: #fff;
	margin: 0px -10px -10px -10px;
	border-radius: 0px 0px 5px 5px;
	padding: 10px 20px 10px 20px;
	text-align: left;
}

.popup-body input {
	font-size: 13px;	
}

.button-group {
	text-align: right;	
}

/* Button settings */
.icon-button-text {
	font-family: "Open Sans",Helvetica,Arial,sans-serif !important;
	font-weight: 600;
}

.fa {
	margin-right: 5px;
}